
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #f0b7a3, #88c2e6) ;
    color: #333;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; 
}

#banner {
    background-color: #f8e4c6;  
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: initial;
    font-weight: bold;
    color: #667abe;
}

#clock {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 30px;
    color: #f30c33; 
}
